.my-work{
    margin-bottom: 50px;
    margin-right: 50px;

    height: 160px;
    width: 100%;
    padding-bottom: 240px;
    position: relative;
}   

.filled{
    height: 130px;
    width: 650px;
    color: #28221B;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 400;
}

.big-para{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    
}
.big2{
    width: 888px;
    height: 127px;
}
.digital{
    font-family: Roboto Serif;
    font-size: 48px;
    color: #28221B;
}
.uni,.que,.digital{
    font-family: Roboto Serif;
    font-size: 48px;
    color: #28221B;
    display: inline-block;
    text-align: center;
}
.uni{
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;

}
.my-work{
    display: grid;
    width: auto;
    grid-template-columns:1fr 45%;

}
.heading{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;


}
.p-article{
    font-family: Roboto Serif;
    font-size: 120px;
    font-weight: 700;
    color: #28221B;
    text-align: center;
    display: flex;
    justify-content: center;

}
.img1{
    display: flex;
    align-items: center;
    justify-content: center;

}
.img11{
    width: 100%;
    background: linear-gradient(to bottom, #fdfdfb 0%, #d4c5af 100%);
    mix-blend-mode: multiply;

}

@media only screen and (max-width:520px) {

    .p-article{
        font-size:58px;
    }
    .big-para{
        font-size: 18;
    }
}






/* --------------------------------------- */


.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.portfolio-section {
    background: rgba(253, 253, 251, 1);
    display: flex;
    gap: 40px 52px;
    color: rgba(40, 34, 27, 1);
    letter-spacing: -0.12px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 400px;
    font: 400 24px/32px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

.portfolio-container {
    display: flex;
    gap: 40px 140px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.portfolio-spacer {
    align-self: start;
    display: flex;
    min-width: 240px;
    width: 646px;
    height: 154px;
    flex: 1;
    flex-basis: 0%;
}

.portfolio-description {
    flex: 1;
    flex-basis: 0%;
    min-width: 280px;
    max-width: 600px;
}

@media (max-width: 991px) {
    .portfolio-section {
        padding: 32px 16px;
    }
    
    .portfolio-description {
        text-align: center;
        font-size: 20px;
        line-height: 28px;
    }
    
    .portfolio-spacer {
        display: none;
    }
}

@media (min-width: 992px) {
    .portfolio-container {
        justify-content: space-between;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}


